<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Raffly</title>
  <meta name="description" content="An online Raffle service">
  <meta name="author" content="Shravan Lal">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="stylesheet" href="/static/lib/skeleton-css/css/normalize.css">
  <link rel="stylesheet" href="/static/lib/skeleton-css/css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/static/img/favicon.png">

</head>

<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <section class="row main-row">
      <article class="one-half column card left invert">
        <header>
          <h1>Raffly</h1>
        </header>
        <p>
          Decide as a group on a random identifier.
          <br> Randomly choose from a list of items.
          <br> Let others view the result with confidence the raffle was performed only once.
        </p>
        <section>
          <header>
            <h2>Where?</h2>
          </header>
          <ul>
            <li>Deciding something in a group chat</li>
            <li>Choosing the winner of an online giveaway</li>
          </ul>
        </section>
      </article>
      <article class="one-half column card right">
        <header>
          <h2>Create</h2>
        </header>
        {% if error %}
          <p class="u-full-width error-bar">
            <span>{{ error }}</span>
          </p>
        {% endif %}
        <form class="u-full-width" action="/raffle/" method="POST">

          <label for="raffle_id">Your Pre-Agreed Raffle ID</label>
          <input class="u-full-width" name="raffle_id" type="text" max-length="255">

          <label for="max_age">Raffle Expiry</label>
          <select class="u-full-width" name="max_age">
            <option value="3600" selected>One Hour</option>
            <option value="86400" selected>One Day</option>
            <option value="604800" selected>One Week</option>
          </select>

          <label for="choices">Choices, each on a different line.</label>
          <textarea class="u-full-width" name="choices"></textarea>

          <label for="deduplicate">
            <input type="checkbox" name="deduplicate" />
            <span class="label-body">Remove Duplicates?</span>
          </label>

          <input class="u-full-width" type="submit" value="Create">

        </form>
      </article>
    </section>
  </div>

  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>